@import 'blockquote.css';
@import 'button.css';
@import 'checkbox.css';
@import 'citation.css';
@import 'cite.css';
@import 'code.css';
@import 'construction/construction.css';
@import 'external-link.css';
@import 'inline-example.css';
@import 'label.css';
@import 'pre.css';

.allomorphs {

  & thead {
    font-weight: 500;
  }

  :is(td, th) {
    padding: var(--text-padding);
  }

}

article {
  flex-direction:  row;
  flex-wrap:       wrap;
  justify-content: space-evenly;
  gap:             1em;
}

.button-wrapper {
  align-items: center;
}

dl {
  column-gap:            0.5em;
  display:               grid;
  grid-template-columns: auto auto;
}

dt {
  font-weight: bold;
}

:is(dt, dd) {
  padding: var(--text-padding-sm);
}

fieldset {
  border:        1px solid #CCC;
  border-radius: var(--border-radius);
  max-width:     calc(55em/2);
  padding:       0.25em 1em 0.5em;
  width:         calc(60em/2);
}

.json {

  .button {
    margin: 0.5em;
  }

  & h2 {
    display:     inline;
    font-weight: bold;
  }

  & pre {
    overflow-y: auto;
  }

  & summary {
    cursor: pointer;
  }

}

legend {
  padding: var(--text-padding-sm);
}

#main {
  max-inline-size: min(60em, 100%);
  row-gap:         1em;
}

.metadata {

  overflow-x: auto;

  & code {
    white-space: pre;
    word-break:  keep-all;
  }

}

.page-title {
  width:      100%;
  word-break: keep-all;
}