@import 'blockquote.css';
@import 'button.css';
@import 'checkbox.css';
@import 'citation.css';
@import 'cite.css';
@import 'code.css';
@import 'construction/construction.css';
@import 'external-link.css';
@import 'inline-example.css';
@import 'label.css';
@import 'pre.css';

:is(.metadata, .stems) {
  overflow-x:    auto;
  margin-inline: 1em;
  max-width:     100%;
  width:         100%;
}

article {
  flex-direction:  row;
  flex-wrap:       wrap;
  justify-content: center;
  gap:             1em;
}

.button-wrapper {
  align-items: center;
}

code {
  white-space: pre;
  word-break:  keep-all;
}

dl {
  column-gap:            0.5em;
  display:               grid;
  grid-template-columns: auto auto;
}

dt {
  font-weight: bold;
}

:is(dt, dd) {
  padding: var(--text-padding-sm);
}

fieldset {
  border:        1px solid #CCC;
  border-radius: var(--border-radius);
  max-width:     calc(55em/2);
  padding:       0.25em 1em 0.5em;
  width:         calc(60em/2);
}

.json {

  .button {
    margin: 0.5em;
  }

  & h2 {
    display:     inline;
    font-weight: bold;
  }

  & pre {
    overflow-y: auto;
  }

  & summary {
    cursor: pointer;
  }

}

legend {
  padding: var(--text-padding-sm);
}

#main {
  max-inline-size: min(60em, 100%);
  row-gap:         1em;
}

.page-title {
  width:      100%;
  word-break: keep-all;
}

table {

  & th {
    text-align:      center;
    font-weight:     500;
    text-decoration: underline;
    vertical-align:  bottom;
  }

  :is(td, th) {
    padding: var(--text-padding);
  }

}

.stem-form {
  white-space: nowrap;
  word-break:  keep-all;
}

.stems table {
  margin-inline: auto;
}

:is(.stem-category, .stem-secondary, .stem-subcategory) {
  text-align: center;
}