/* Shadows on Scroll */
/* https://lea.verou.me/blog/2012/04/background-attachment-local/ */
.scroll-shadow {
  background: linear-gradient(to right, white 30%, rgb(255 255 255 / 0%)),
  linear-gradient(to right, rgb(255 255 255 / 0%), white 70%) 0 100%,
  radial-gradient(
    farthest-side at 0% 50%,
    rgb(0 0 0 / 20%),
    rgb(0 0 0 / 0%)
  ),
  radial-gradient(
      farthest-side at 100% 50%,
      rgb(0 0 0 / 20%),
      rgb(0 0 0 / 0%)
    )
    0 100%;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 40px 100%, 40px 100%, 14px 100%, 14px 100%;
  background-position: 0 0, 100%, 0 0, 100%;
  background-attachment: local, local, scroll, scroll;
}

.visually-hidden {
  clip       : rect(1px 1px 1px 1px);
  clip       : rect(1px, 1px, 1px, 1px);
  clip-path  : inset(1px);
  display    : block;
  height     : 1px;
  inline-size: 1px;
  overflow   : hidden;
  position   : absolute;
  white-space: nowrap;
}