.pagination {

  li {
    border:        1px solid #CCC;
    border-radius: var(--border-radius);
    padding:       var(--text-padding);
  }

  ol {
    flex-direction:  row;
    flex-wrap:       wrap;
    gap:             0.25em;
    justify-content: center;
    padding:         var(--text-padding-lg);
  }

}