<nav class='nav {{#if Search}}sticky{{/if}}' role=navigation>

  <h2 class=visually-hidden id=nav-heading>Main Navigation</h2>

  <button aria-hidden=true class=menu-button data-hook=nav__button>
    <svg class=menu-icon><use href=#menu></svg>
  </button>

  <ul aria-labelledby=nav-heading class=links data-hook=nav__links role=list>
    <li><a href=/>About</a></li>
    <li><a href=/search>Explore the Data</a></li>
    <li><a href=/grammar>Algonquian Word-Structure Basics</a></li>
    <li><a href=/research>Research</a></li>
    <li><a href=/bibliography>Bibliography</a></li>
  </ul>

</nav>