{{#section 'head'}}
  <!-- Prose Styles -->
  <style>{{{ styles.prose }}}</style>
  <!-- Page-Specific Styles -->
  <style>{{{ css }}}</style>
{{/section}}

<main id=main class='prose {{ cssClass }}-page'>
  {{{ content }}}
</main>