@import 'abbreviation.css';
@import 'backlink/backlink.css';
@import 'cite.css';
@import 'lists.css';
@import 'references-list.css';
@import 'table.css';

.error-message {
  text-align: center;
}

.figure {

  counter-increment: figures;

  & figcaption::before {
    content: 'Figure ' counter(figures) '.';
  }

}

.prose {

  counter-reset: examples figures tables;
  display:       block;

  & p {
    margin-block: 0.5em;
  }

}

.table {

  counter-increment: tables;

  & caption::before {
    content: 'Table ' counter(tables) '.';
  }

}