{{#section 'layout'}}
  <!-- Prose Styles -->
  <style>{{{ styles.prose }}}</style>
  <!-- Markdown Page Styles -->
  <style>{{{ css }}}</style>
{{/section}}

<main id=main class='prose {{ cssClass }}-page'>
  {{{ content }}}
</main>