/* App Shell Styles */
@import 'styles/colors.css';
@import 'styles/CommonSerif.css';
@import 'styles/Fira.css';
@import 'styles/typography.css';
@import 'styles/utilities.css';
@import '../../node_modules/flexbox-reset/flexbox-reset.css';

/* App Shell Components */
@import 'components/footer/footer.css';
@import 'components/issue-link/issue-link.css';
@import 'components/nav/nav.css';
@import 'components/skip-link/skip-link.css';

/* Global Classes */
@import 'emphasis.css';
@import 'external-link.css';
@import 'headings.css';
@import 'link.css';

:root {
  --border-radius: 0.25em;
}

body {

  align-items:             center;
  font-family:             var(--font);
  font-size:               120%;
  font-variant-ligatures:  no-common-ligatures;
  line-height:             1.4;
  max-inline-size:         100vw;
  min-block-size:          100vh;
  text-underline-position: under;

  @media (prefers-color-scheme: dark) {
    background-color: var(--off-black);
    color:            var(--off-white);
  }

}

html {

  align-items:              stretch;
  block-size:               100%;
  scroll-behavior:          smooth;
  text-decoration-skip-ink: auto;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

}

main {
  flex-grow:       1;
  max-inline-size: min(var(--measure), 100vw);
  padding:         1em;
}