<!DOCTYPE html>
<html dir=ltr lang=en>
  {{> components/head/head }}
  <body>
    <style>{{{ mainCSS }}}</style>
    {{> components/skip-link/skip-link }}
    {{{ body }}}{{!-- This is actually <main> but express-handlebars calls this variable `body`. --}}
  </body>
</html>