<!DOCTYPE html>
<html dir=ltr lang=en>
  {{> head }}
  <body>
    <style>{{ mainCSS }}</style>
    {{{ body }}}{{!-- This is actually <main> but express-handlebars calls this variable `body`. --}}
  </body>
</html>