/* Globals */
@import 'global/colors.css';
@import 'global/CommonSerif.css';
@import 'global/typography.css';
@import 'global/utilities.css';
@import '../../node_modules/flexbox-reset/flexbox-reset.css';

/* Classes */
@import 'classes/headings.css';
@import 'classes/link.css';

/* App Shell Components */
@import 'components/footer/footer.css';
@import 'components/issue-link/issue-link.css';
@import 'components/nav/nav.css';
@import 'components/skip-link/skip-link.css';

body {

  align-items:             center;
  font-family:             var(--font);
  font-size:               115%;
  line-height:             1.5;
  max-inline-size:         100vw;
  min-block-size:          100vh;
  text-underline-position: under;

  @media (prefers-color-scheme: dark) {
    background-color: var(--off-black);
    color:            var(--off-white);
  }

}

html {

  align-items:              stretch;
  block-size:               100%;
  scroll-behavior:          smooth;
  text-decoration-skip-ink: auto;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }

}

main {
  flex-grow:       1;
  max-inline-size: var(--measure);
  padding:         1em;
}