.button {

  --gray-hue:        210;
  --gray-saturation: 15%;

  background-color: hsl(var(--gray-hue) var(--gray-saturation) 85%);
  border:           1px solid #CCC;
  border-radius:    var(--border-radius);
  box-shadow:       inset 0px 0px 3px 2px hsl(var(--gray-hue) var(--gray-saturation) 95%),
                    1px 1px 2px #CCC;
  cursor:           pointer;
  font-weight:      500;
  padding:          var(--text-padding);
  text-align:       center;
  transition:       0.2s all ease-in-out;
  white-space:      nowrap;
  word-break:       keep-all;

  &:hover {
    background-color: hsl(var(--gray-hue) var(--gray-saturation) 75%);
  }

  &:active {
    background-color: hsl(var(--gray-hue) var(--gray-saturation) 65%);
    box-shadow:       inset 0px 1px 2px #000;
  }

}

.button.green {

  --green-hue:        90;
  --green-saturation: 15%;

  background-color: hsl(var(--green-hue) var(--green-saturation) 45%);
  border:           1px solid var(--asparagus);
  box-shadow:       inset 0px 0px 3px 2px hsl(var(--green-hue) var(--green-saturation) 55%),
                    1px 1px 2px #CCC;
  color:            white;

  &:hover {
    background-color: hsl(var(--green-hue) var(--green-saturation) 35%);
  }

  &:active {
    background-color: hsl(var(--green-hue) var(--green-saturation) 25%);
    box-shadow:       inset 0px 1px 2px #000;
  }

}