.citation {

  align-items:     center;
  margin-inline:   auto;
  max-inline-size: var(--measure);

  .copy-button {
    margin: 0.5em;
  }

  & p {
    margin-inline-start: 1em;
    text-indent:         -1em;
  }

}