.ex {

  --example-indent:    2em; /* wide enough for 2-digit numbers */
  counter-increment:   examples;
  counter-reset:       subexamples;
  margin-block:        1em;
  margin-inline-start: var(--example-indent);
  position:            relative;

  &::before {
    content:             '(' counter(examples) ')';
    margin-inline-start: calc(var(--example-indent) * -1);
    margin-inline-end:   var(--example-indent);
    position:            absolute;
  }

  & p {
    margin:  0;
    padding: 0;
  }

}