:is(h1, h2) {
  padding-block: 0.5em 0em;

  & + * {
    clear: both;
  }

}

h1 {
  font-size:  2.5em; /* fallback for Safari, which doesn't support xxx-large */
  font-size:  xxx-large;
  text-align: center;
}

h2 {
  font-size: xx-large;
}

h3 {
  font-size:   x-large;
  font-weight: bold;
}