.bulleted {
  list-style: disc outside none;
}

.list {

  margin-inline-start: 1.5em;
  padding:             var(--text-padding-lg);

  & li {
    display: list-item;
  }

  & ol {
    list-style: lower-alpha outside none;
  }

  & ul {
    list-style: circle outside none;
  }

  & :is(ol, ul) {
    margin-inline-start: 0.5em;
    padding:             0em 1em;
  }

}

.numbered {
  list-style: decimal outside none;
}