.bulleted,
.prose ul {
  list-style: disc outside none;
}

.list,
.prose :is(ol, ul):not(.examples, .subexamples, .words, .morphemes) {

  margin-inline-start: 1.5em;
  padding:             var(--text-padding-lg);

  & li {
    display:      list-item;
    margin-block: 0.25em;
  }

  & li > p {
    margin: 0;
  }

  & ol {
    list-style: lower-alpha outside none;
  }

  & ul {
    list-style: circle outside none;
  }

  & :is(ol, ul) {
    margin-inline-start: 0.5em;
    padding:             0em 1em;
  }

}

.numbered,
.prose ol:not(.examples, .subexamples, .words, .morphemes) {
  list-style: decimal outside none;
}