.references-list {

  list-style: none !important;
  margin:     0 !important;
  padding:    0 !important;

  & li {
    margin-inline-start: 2em;
    padding:             0;
    text-indent:         -2em;
  }

}