<footer class=footer>

  <h2>Acknowledgment of Support</h2>

  <p>This material is based upon work supported by the University of Wisconsin-Madison Graduate School and the National Science Foundation DLI-DEL program under grant number BCS1953103. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.</p>

  <p class=maintainer>Website maintained by <a class=link href=https://danielhieber.info>Daniel W. Hieber</a>.</p>

  <div class=github>

    <a class=github-link href=https://github.com/dwhieb/Nisinoon>
      <span class=visually-hidden>View source code on Github.</span>
      <svg aria-hidden=true class=octicon><use href=#octicon></svg>
    </a>

    <p>View the source code for this website on <a class=link href=https://github.com/dwhieb/Nisinoon>GitHub</a>.</p>

  </div>

</footer>