/* Classes */
@import 'button.css';
@import 'help-text.css';
@import 'label.css';
@import 'pre.css';
@import 'text-box.css';

/* Components */
@import 'construction/construction.css';

.search-controls {
  flex-direction: row;
  column-gap:     0.5em;
}

.text-box {
  flex-grow: 1;
}