/* Classes */
@import 'blockquote.css';
@import 'button.css';
@import 'help-text.css';
@import 'label.css';
@import 'pre.css';
@import 'text-box.css';

/* Components */
@import 'construction/construction.css';

:root {
  --cell-border: 1px solid #CCC;
}

/* Cell-Specific Styles */
/* bottom border */
.bb {
  border-block-end: var(--cell-border);
}

/* centered text */
.c {
  text-align: center;
}

:is(.form, .PA, .source-forms, .source-PA, .source-URs, .UR) {
  white-space: nowrap;
}

.citation {
  align-items:     center;
  margin-inline:   auto;
  max-inline-size: var(--measure);
}

.copy-button {
  margin: 0.5em;
}

blockquote p {
  margin-inline-start: 1em;
  text-indent:         -1em;
}

h2 {
  text-align: center;
}

#main {
  align-items:     center;
  align-self:      stretch;
  max-inline-size: 100%;
  padding:         0;
}

.no-results {
  font-size:  xx-large;
  padding:    var(--text-padding-lg);
  text-align: center;
}

.num-results {
  font-size:     x-large;
  margin-inline: auto;
  text-align:    center;
}

.results {

  margin:          0;
  min-inline-size: 100%;

  & td {
    border-block: var(--cell-border)
  }

  & th {
    font-weight: bold;
  }

  :is(td, th) {
    word-break: keep-all;
    padding:    var(--text-padding);
  }

}

.results-wrapper {
  inline-size:     100%;
  max-inline-size: 100%;
  overflow-x:      auto;
}

search {
  margin:          1em;
  max-inline-size: 30em;
}

.search-controls {
  flex-direction:  row;
  flex-wrap:       wrap;
  gap:             0.5em;
  justify-content: center;
}

.stats {

  display:               grid;
  grid-template-columns: auto auto;

  * {
    padding: var(--text-padding);
  }

  dt {
    font-weight: bold;
  }

}

.text-box {
  flex-grow: 1;
}