<main class=components-page id=main>

  <search>
    <form method=post>
      <label for=search-box>Quick Search</label>
      <div class=search-controls>
        <input
          autocomplete=on
          autocorrect=off
          class=text-box
          enterkeyhint=search
          id=search-box
          inputmode=search
          name=q
          placeholder='e.g. “atimw-” or “dog”'
          spellcheck=false
          type=search
        >
        <button class=button type=submit>Search</button>
      </div>
      <span class=help-text>Quickly search for a component or definition in any orthography.</span>
    </form>
  </search>

</main>

